.img_container{
   
    display: flex;
    flex-wrap: wrap;
}

.parent{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   width: 100%;
   /* background-color: red; */
    /* column-gap: 1rem; */
}

.box{
    width: 25%;
    
}

.dup{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}